<!-- <div class="dataTable-container">
    <div class="dataTable-head">
        <div class="dataTable-headLeft">
            <div>
                <small>File</small><span>All</span>
            </div>
            <div><small>Last Updated : 05 Mar 2020</small><span><strong>6874</strong> Records</span></div>
           
        </div>
        <div class="dataTable-headRight text-right">
            <input type="text" value="search" class="form-control">
            <ul>
                <li><a href="#"><i class="fa fa-download"></i></a></li>
                <li><a href="#"><i class="fa fa-list"></i></a></li>
                <li><a href="#"><i class="fa fa-filter"></i></a></li>
            </ul>
        </div>
    </div>
</div> -->


<div>Flat Structure works !!</div>